body {
  background: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 30px;
}

code, textarea, input {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1 {
  font-weight: bold;
  margin: 0 0 20px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

p {
  margin: 10px 20px;
  margin-top: 1px;
}

.post {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
}

.postForm {
  margin: 10px 20px;
  margin-top: 10px;
}

#button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
